.header-auth {
  max-width: 396px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header-auth__title {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.header-auth__logo {
  display: block;
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 767px) {
  .header-auth {
    align-items: center;
  }

  .header-auth__title {
    margin: 50px 0 80px;
  }
}