.nav-home {
  display: flex;
}

.nav-home__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-home__links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-home__button-login {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 3px;
  width: 76px;
  min-height: 32px;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.nav-home__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .nav-home__links {
    gap: 14px;
  }

  .nav-home__button {
    font-size: 10px;
  }

  .nav-home__button-login {
    width: 54px;
    min-height: 26px;
    font-size: 10px;
  }
}