@import url(./vendor/fonts/font.css);

.page {
  margin: 0 auto;
  background-color: #202020;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.page__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
}

button,
input {
  font-family: 'Inter', 'Arial', sans-serif;
}

input:hover {
  opacity: 0.7;
}

input:disabled:hover {
  opacity: 1;
}

.button-hover:hover {
  opacity: 0.8;
}

.button-hover:disabled {
  opacity: 1;
}

.link-hover:hover {
  opacity: 0.7;
}

*:focus-visible,
  button:focus-visible,
  [type="button"]:focus-visible,
  [type="reset"]:focus-visible,
  [type="submit"]:focus-visible {
    outline-color: #4285F4;
    outline-style: solid;
    outline-width: 1px;
    outline-offset: 2px;
    border-radius: 5px;
  }